:root {
    --primary-color: #D5D8DC;
}

header {
    padding: 20px 35px;
    background-color: #17202A;
}

header h1 {
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 36px;
    color: var(--primary-color);
}

header nav a {
    color: var(--primary-color);
    font-family: Helvetica, Arial, sans-serif;
}

.hero {
    background-image: url('../images/starry-night.jpg');
    background-size: cover;    
}

