header {
    padding: 20px 35px;
    background-color: #17202A;
}

h1 {
    font-family: 'Rock Salt', cursive;
    font-size: 1.8em;
}

.hero {
    background-image: url('../images/starry-night.jpg');
    background-size: cover;    
}

body {
    color: #D5D8DC;
    font-family: Bradley Hand, cursive;
}
