:root {
    --primary-color: #D5D8DC;
}

/* header styles begin */
header {
    padding: 20px 35px;
    font-family: 'Cedarville Cursive', cursive;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: var(--primary-color);
    position: sticky;
    top: 0;
    background-image: url("./images/dark-background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 42px;
}

header a {
    text-decoration: none;
}

header nav {
    margin: 10px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 18px;
    font-weight: lighter;
    font-size: 2.0vw;
}

header nav ul li a:hover {
    color: #6A7887;
    background: #CBD2DB;
    border-radius: 15px;
    text-shadow: none;
}

/* header styles end */

/* hero/jumbotron styles start */
.hero {
    background-image: url('./images/dark-background.jpg');
    background-size: cover;  
    display: flex;  
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-attachment: fixed;
    background-position: 80%;
}

.profile {
    margin: 75px auto;
    padding-bottom: 50px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
}

.profile img {
    border-radius: 150px;
    flex: 1 40%;
    align-items: center;
    max-width: 300px;
    max height: 300px;
    width: auto;
    height: auto;
}

.profile h2 {
    color: var(--primary-color);
    font-size: 30px;
    padding: 25px;
    width: 80%;
    text-align: center;
    line-height: 1.5;
    max-width: 500px;
}

.profile p {
    color: var(--primary-color);
    font-size: 15px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.profile p::after {
    content: " \2193";
}